
.alongSection {
    padding: 64px 0;
}









.alongSectionOne {
    display: flex;
    justify-content: center;
    align-items: center;
}


.alongSubHeading {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
}


.alongSubHeadingtext {
    font-family: Nunito;
    color: #A7A2B5;
    font-size: 18px;
    margin: 0;
}


.alongHeading {
    font-family: Noto serif;
    color: #2D204B;
    font-size: 72px;
    margin: 0;
}


.alongStakedText {
    gap: 24px;
    
}

.alongStakedTextLarge {
    gap: 16px;
    width: 700px;
}


.alongBodyText {
    font-family: Nunito;
    font-size: 24px;
    color: #585168;
}



.alongBubblesBox {
    display: flex;
    flex-direction: column;
}



.alongBubbleFull {
    display: flex;
    flex-direction: row;
    gap: 64px;
    align-items: end;
    margin: 64px 0;
}

.alongBubblesRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.alongBubbleCard {
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    align-items:flex-start;
    gap: 48px;



    border-radius: 8px;
    background: #FFF;
    box-shadow: 4px 7px 26px 0px rgba(157, 149, 206, 0.25);


    width: 404px;

    margin: 0;
    gap: 16px;
}


.bubbleTextRegular {
    color: #585168;

font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
margin: 0;

}

.bubbleTextBold {
    color: #292337;
font-family: Nunito;
font-size: 24px;
font-style: bold;
font-weight: 500;
line-height: normal;
margin: 0;

}


.alongBubbleImg {
    width: 80px;
    height: 80px;
    border-radius: 180px;
}

#secondBubble {
    margin-top: 48px;
}



#thirdBubble {
    margin-left: 150px;
}



.wireframeRow {
    display: flex;
    justify-content: end;
    /* align-items: start; */
    gap: 24px;
}

.alongWireframe {
    width: 300px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 4px 7px 26px 0px rgba(157, 149, 206, 0.25);

}

.wireDiv {
    /* height: fit-content; */
}

#Wire1 {
    margin-top: 128px;
}

#Wire2 {
    margin-top: 0;
}

#Wire3 {
    margin-top: 64px;
}





.slider-container {
    /* overflow: hidden; */
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 60px auto;
    border-radius: 16px;
    /* box-shadow: 0 8px 30px rgba(0,0,0,0.1); */
  }

  .slider-track {
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
  }

  .slide {
    /* min-width: 280px; */
    margin-right: 20px;
    border-radius: 12px;
    /* overflow: hidden; */
    flex-shrink: 0;
    box-shadow: 0 8px 30px rgba(0,0,0,0.1); 
    max-width: 300px;
  }

  .slide img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
  }

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

  .slider-container:hover .slider-track {
    /* animation-play-state: paused; */
  }







  .alongSurveyBlocks {
    display: flex;
    /* width: 1212px; */
    padding: 64px 0px;
    justify-content: center;
    align-items: center;
    gap: 20px;

  }


  .alongSurveyCard {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 24px 32px;

    /* main */
    box-shadow: 4px 7px 26px 0px rgba(157, 149, 206, 0.25);
  }


  .alongCardLayout {
    display: flex;
    flex-direction: column;
    width: 339.416px;
    height: 516px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex-shrink: 0;
  }