
.alongSection {
    margin: 64px 0;
}









.alongSectionOne {
    display: flex;
    justify-content: center;
    align-items: center;
}


.alongSubHeading {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
}


.alongSubHeadingtext {
    font-family: Nunito;
    color: #A7A2B5;
    font-size: 18px;
    margin: 0;
}


.alongHeading {
    font-family: Noto serif;
    color: #2D204B;
    font-size: 72px;
    margin: 0;
}


.alongStakedText {
    gap: 24px;
    
}

.alongStakedTextLarge {
    gap: 16px;
    width: 700px;
}


.alongBodyText {
    font-family: Nunito;
    font-size: 24px;
    color: #585168;
}



.alongBubblesBox {
    display: flex;
    flex-direction: column;
}



.alongBubbleFull {
    display: flex;
    flex-direction: row;
    gap: 64px;
    align-items: end;
    margin: 64px 0;
}

.alongBubblesRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.alongBubbleCard {
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    align-items:flex-start;
    gap: 48px;



    border-radius: 8px;
    background: #FFF;
    box-shadow: 4px 7px 26px 0px rgba(157, 149, 206, 0.25);


    width: 404px;

    margin: 0;
    gap: 16px;
}


.bubbleTextRegular {
    color: #585168;

font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
margin: 0;

}

.bubbleTextBold {
    color: #292337;
font-family: Nunito;
font-size: 24px;
font-style: bold;
font-weight: 500;
line-height: normal;
margin: 0;

}


.alongBubbleImg {
    width: 80px;
    height: 80px;
    border-radius: 180px;
}

#secondBubble {
    margin-top: 48px;
}



#thirdBubble {
    margin-left: 150px;
}



.wireframeRow {
    display: flex;
    justify-content: end;
    /* align-items: start; */
    gap: 24px;
}

.alongWireframe {
    width: 300px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 4px 7px 26px 0px rgba(157, 149, 206, 0.25);

}

.wireDiv {
    /* height: fit-content; */
}

#Wire1 {
    margin-top: 128px;
}

#Wire2 {
    margin-top: 0;
}

#Wire3 {
    margin-top: 64px;
}